.advantages-list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: -30px;
		margin-top: -30px;
	}
}

.advantages-item {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc(100% / 2 - 30px);
		margin-left: 30px;
		margin-top: 30px;
	}

	@media screen and (min-width: 1200px) {
		width: 270px;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.advantages-item-field {
	height: 120px;
	margin-bottom: 30px;
	background-color: var(--our-team-section-background);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

.advantages-item-svg {
	height: 70px;
	width: 70px;
}

.advantages-item-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
	margin-bottom: 10px;
}

.advantages-item-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
