.header {
	color: var(--primary-text-color);
	border-bottom: 1px solid var(--header-border);
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	@media screen and (min-width: 768px) {
		margin-right: 88px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 93px;
	}
}

.logo {
	text-decoration: none;
	font-family: Raleway;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(28 / 24);
	letter-spacing: 0.03em;
	color: var(--accent-color);

	@media screen and (min-width: 1200px) {
		font-size: 26px;
		line-height: 1.19;
	}
}

.logo-light {
	color: var(--secondary-title-color);
}

.logo__part--dark {
	color: var(--logo-dark-color);
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__nav-list {
	display: flex;
}

.header__nav-item {
	&:not(:last-child) {
		margin-right: 50px;
	}
}

.header__menu-link {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	padding: 32px 0;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link {
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.contacts {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}

.contacts__item {
	@media screen and (max-width: 1199px) {
		padding-top: 21px;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;

		&:last-child {
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 21px;
			padding-left: 0;

			margin-top: 10px;
		}
	}

	@media screen and (min-width: 1200px) {
		&:not(:first-child) {
			margin-left: 50px;
		}
	}
}

.contacts__link {
	display: flex;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);

	align-items: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-right: 0;
		padding-bottom: 32px;
		padding-left: 0;
		font-size: 14px;
		line-height: 1.14;
	}

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.header__nav-list .current {
	color: var(--accent-color);
}

.header__nav-list .current {
	&::after {
		content: '';
		display: flex;
		position: absolute;
		bottom: 0;
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background-color: var(--accent-color);
	}
}

.contacts__icon {
	margin-right: 10px;
	fill: currentColor;
}

.contacts__icon-mail {
	width: 14px;
	height: 10px;

	@media screen and (min-width: 1200px) {
		width: 12px;
		height: 16px;
	}
}

.contacts__icon-tel {
	width: 10px;
	height: 14px;

	@media screen and (min-width: 1200px) {
		width: 10px;
		height: 16px;
	}
}

.header__button {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	line-height: 0;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.mobile-menu {
	display: flex;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 48px;
	padding-right: 40px;
	padding-bottom: 48px;
	padding-left: 40px;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: #ffffff;
}

.mobile-menu__close {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.mobile-menu__link {
	display: block;
	margin-bottom: 32px;
	font-size: 40px;
	font-weight: 500;
	line-height: calc(47 / 40);
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.mobile-menu__wrap {
	display: block;
	margin-top: auto;
}

.mobile-menu__item {
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:first-child {
		margin-bottom: 32px;
	}
	&:last-child {
		margin-bottom: 64px;
	}
	&:hover,
	&:focus {
		transform: scale(1.42);
		transform-origin: left bottom;
	}
}

.mobile-menu__contact {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.mobile-menu__social-list {
	display: flex;
}

.mobile-menu__social {
	&:not(:last-child) {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
		padding-right: 10px;
		margin-right: 10px;
	}
}

.mobile-menu__social-link {
	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.mobile-menu {
	transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.header__nav-list,
.contacts {
	@media screen and (max-width: 767px) {
		display: none;
	}
}
