.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio-list-cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}

.portfolio-list-card {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
}

.portfolio-list-card-link {
	display: block;
	text-decoration: none;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-card-link {
	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
		outline: none;
	}
}

.portfolio-btn {
	background: #f5f4fa;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	padding: 6px 22px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
	&:hover,
	&:focus {
		outline: none;
		background-color: var(--accent-color);
		color: var(--secondary-title-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

.portfolio-list-item {
	&:not(:last-child) {
		margin-right: 8px;
	}
}

.portfolio-item-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
}

.portfolio-item-text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.portfolio-list-card-text {
	padding: 20px 24px;
	border-left: 1px solid var(--portfolio-list-card-border);
	border-right: 1px solid var(--portfolio-list-card-border);
	border-bottom: 1px solid var(--portfolio-list-card-border);
}

.portfolio-list-card-img {
	display: block;
}

.portfolio-list-card-img-container {
	position: relative;
	overflow: hidden;
	width: 370px;
	height: 294px;
}

.portfolio-list-card-description {
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--secondary-title-color);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;
	transform: translateY(294px);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-card {
	&:hover .portfolio-list-card-description,
	&:focus .portfolio-list-card-description {
		transform: translateY(0);
	}
}
