.what-we-do {
	padding: 0 0 94px;
}

.what-we-do-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	margin-bottom: 50px;
}

.what-we-do-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}

.what-we-do-item {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
	position: relative;
	width: 370px;
	height: 294px;
}

.what-we-do-item-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-title-color);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-item-image {
	display: block;
}
