.social-item-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

.social-icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}
