:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--logo-dark-color: #000000;
	--accent-color: #2196f3;
	--dark-background: #2f303a;
	--our-team-section-background: #f5f4fa;
	--our-team-list-item-background: #ffffff;
	--secondary-title-color: #ffffff;
	--footer-link-color: #ffffff99;
	--header-border: #ececec;
	--portfolio-list-card-border: #eeeeee;
	--icon-color: #afb1b8;
	--btn-hover: #188ce8;
}
